@use "../../../styles/variables/sass" as *;

.block {
}

.section {
}

.term {
  display: inline-block;
  font-weight: bold;

  &::after {
    content: ":";
  }

  &:last-of-type {
    margin-right: $size-small;
  }
}

.details {
  display: inline-block;
}
