@use "../../styles/variables/sass" as *;

.header,
.body,
.footer {
  color: var(--colour0-primary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;

  background-color: var(--colour1-secondary-transparent);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-normal $size-big;
  }
}

.body {
  grid-area: body;
  background-color: var(--colour1-tertiary);
}

.footer {
  grid-area: footer;
  background-color: var(--colour1-secondary-transparent);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-normal $size-big;
  }
}
