@use "../../../styles/variables/sass" as *;

.block {
}

.content {
  display: grid;
  grid-template: "input button" auto / 1fr auto;

  & .eye {
    visibility: visible;
    opacity: 1;
  }

  &_visible {
    & .eye {
      visibility: hidden;
      opacity: 0;
    }
    & .noEye {
      visibility: visible;
      opacity: 1;
    }
  }
}

.input {
  grid-area: input;
  border-radius: 5px 0 0 5px;
}

.button {
  grid-area: button;
  grid-template: "icon" 1fr / 100%;
  border-radius: 0 5px 5px 0;
}

.icon {
  --local-width: 1.5em;
  --local-height: 1.5em;

  grid-area: icon;
  visibility: hidden;
  opacity: 0;

  transition-duration: var(--duration-global);
  transition-property: opacity, visibility;
}

.noEye {
  // the viewbox is the same, but visually the eye ouline is smaller
  --local-width: 1.63em;
  --local-height: 1.63em;
}

